button{
    display: inline-flex;
    gap: 21.8px;
    justify-content: space-between;
    align-items: center;
    font-family: Sora;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    height: 58px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    text-transform: capitalize;
    margin: 0;
    border-radius: 200px;
    border: none;
    padding: 0;
    font-size: 15px;
    color: #fff;
}
button span:first-child{
    font-size: 15px;
    padding-left: 25px;
}
button span:last-child{
    letter-spacing: -0.15px;
    border-radius: 29px;
    padding: 19.5px 21px;
}

.btn--primary{
    background-color: var(--primary-color);
}
.btn--secondary{
    background-color: var(--secondary-color);
}
.btn--primary span:last-child{
    background-color: #785DD7;
}
.btn--secondary span:last-child{
    background-color: #1F3061;
}