.newsletter{
    background-color: var(--primary-color);
    padding: 91px 291.5px;
    color: #ffffff;
    position: relative;
}
.newsletter__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1903px;
    margin: 0 auto;
}
.newsletter__info h5{
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    margin: 0;
}
.newsletter__info p{
    margin-top: 20.75px;
}
.newsletter__form{
    width: 40%;
    position: relative;
}
.newsletter__form input{
    width: 100%;
    background-color: var(--background-color);
    border: none;
    padding: 25px 30px;
    border-radius: 10px;
}
.newsletter__form p{
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: black;
    padding: 15px 25px;
    border-radius: 5px;
}