.title{
    display: inline-block;
    padding: 0 23px;
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: #E9E2FF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-weight: 400;
}