.category{
    width: 1350px;
    margin: 0 auto;
    margin-top: -32px;
    padding: 0 15px;
    text-align: center;
}
.category__list{
    margin-top: 70px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 35px;
}
.category__list__item{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding: 25px 20px;
    border-radius: 10px;
}
.category__list__item .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.category__list__item p{
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 24.2px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
}