.introduction{
    background-image: url(../../assets/images/wavy-bg.png);
    height: 670px;
    margin-top: 17px;
    position: relative;
}
.welcome{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.welcome__info{
    margin-left: 291.5px;
    margin-top: 143.5px;
}
.welcome__info p:first-child{
    text-transform: uppercase;
    font-family: Sora;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--primary-color);
}

.welcome__info h1{
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    margin-top: -5.5px;
    color: var(--secondary-color);
    margin-bottom: 0;
}
.welcome__info p:last-of-type{
    font-size: 15px;
    line-height: 28.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 8.5px 0;
}
.welcome img{
    height: 670px;
}
.welcome img::before{
  content: "";
  position: absolute;
  background-image: url('your-image.jpg');
  background-size: 250px 180px; 
  background-repeat: no-repeat;
  top: 50%;
  left: -59px;
  transform: translate(-50%, -50%); 
}
.introduction__book{
    position: absolute;
    top: 458.05px;
    left: 94.64px;
}
.introduction__arrow{
    position: absolute;
    top: 443.81px;
    left: 551.86px;
}
.introduction__categories{
    position: absolute;
    top: 624px;
    padding: 0 23px;
    text-transform: uppercase;
    left: 882.34px;
    color: var(--primary-color);
    background-color: #E9E2FF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
.introduction__instructors{
    position: absolute;
    top: 402.2px;
    left: 967.73px;
    width: 345.34px;
    padding: 6px 40px 36px;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--background-color);
}
.introduction__instructors p{
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 0;
    color: var(--secondary-color);
}
.introduction__instructors img{
    margin-top: 20px;
}