.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--secondary-color);
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: solid 1px var(--secondary-color);
}

.banner--container, nav{
    width: 1320px;
    margin: 0 auto;
}
.banner__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__contact__info, .banner__contact__info div{
    display: flex;
    gap: 20px;
}
.banner__contact__info div{
    padding-right: 20px;
    gap: 10px;
    border-right: solid 1px #ffffff21;
}
.banner__contact__info div:last-child{
    border-right: none;
}
.banner__contact__socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD25D;
    height: 50px;
    padding: 0 37px;
    width: 183px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8.5px 0;
}
nav ul{
    display: flex;
    align-items: center;
    padding: 0; 
    padding-right: 97.64px;
}
nav a{
    padding: 0 10px;
}
nav ul li{
    list-style: none;
    padding: 7px 10.69px 7px 11px;
    letter-spacing: 0%;
}
nav ul a:first-child li{
    border: solid 1px var(--primary-color);
    border-radius: 100px;
}