@import url(normalize.css);
@import url(variables.css);

*{
    box-sizing: border-box;
}
body{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
}