@import url(normalize.css);
@import url(variables.css);

*{
    box-sizing: border-box;
}
body{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    max-width: 100vw;
}
h4{
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    margin-top: 25px;
    color: var(--text-color-primary);
}
.container{
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
}